/* ======= LINK FOR GOOGLE FONTS ======= */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:ital,wght@0,300;1,400&display=swap');

/* ======= GLOBAL STYLES RULES ======= */
:root {
  /* === COLORS === */
  --color-dark: #272a31;
  --color-darkOrange: #ec5242;
  --color-grey: #d3d3d3;
  --color-white: #fff;
  --color-whitesmoke: #f9f9f9;

  /* === FONTS FAMILY === */
  --font-family-1: 'Lato', sans-serif;
  --font-family-2: 'Dela Gothic One', cursive;

  /* === FONTS SIZE === */
  --font-size-1: 60px;
  --font-size-2: 40px;
  --font-size-3: 30px;
  --font-size-4: 16px;
}

/* ======= RESET STYLES ======= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: 1px solid var(--color-grey);
  outline: var(--color-grey);
}

/* ======= CUSTOM STYLES RULES ======= */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.separator {
  width: 10%;
  height: 1px;
  background-color: var(--color-darkOrange);
}

.text-small {
  font-size: var(--font-size-4);
}

.bold {
  font-family: var(--font-family-2);
  font-weight: 500;
}

.btn {
  font-size: 1.1rem;
  justify-content: center;
  margin: 1.5em auto;
  padding: 1em 1.5em;
}

/* ==== Mobile S - 320px ==== */
@media screen and (width >= 320px) {
  .section-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 2em 0.5em;
  }

  /* ==== HERO SECTION ==== */
  .hero-section {
    width: 100%;
    height: 50vh;
    align-items: flex-start;
    justify-content: flex-start;
    background: url(../images/background-1.png) top/cover no-repeat;

    /* background: url(./) top/cover no-repeat, var(--color-white); */
    padding-top: 4em;
  }

  .hero-section .title-box {
    flex-direction: column-reverse;
    color: var(--color-darkOrange);
  }

  .hero-section .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background: url(../images/background-3.png) center/cover, var(--color-darkOrange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ec5342b4;
  }

  .hero-section .subtitle {
    font-size: 1.5rem;
  }

  .hero-section .description {
    margin: 1.5em 0;
    padding: 0.5em;
    border: 4px solid var(--color-white);
    background: var(--color-whitesmoke);
    line-height: 1.3em;
  }

  .hero-event {
    font-size: 1.1rem;
    line-height: 2em;
  }

  /* ==== MAIN PROGRAM SECTION ==== */
  .section-title {
    font-size: 1.2rem;
  }

  .program-section {
    background: url(../images/background-2.svg) top/cover repeat, var(--color-dark);
    background-size: 100px;
    color: var(--color-white);
    padding: 1.5em 0;
  }

  .section .title-box {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: relative;
  }

  .program-section .section-container {
    grid-template-rows: repeat(5, 7em);
    justify-content: center;
    gap: 1em;
  }

  .card-box {
    grid-template-columns: repeat(2, 47%);
    align-items: center;
    gap: 1.5em;
    padding: 0.5em;
  }

  .card-box:hover,
  .card-box:focus {
    border-color: var(--color-white);
  }

  .card-box p {
    font-size: 1.1rem;
  }

  .program-box {
    border: 2px solid transparent;
    background-color: #d3d3d354;
  }

  .program-icon {
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-right: 1em;
  }

  .program-icon h3 {
    color: var(--color-darkOrange);
  }

  .program-icon img {
    width: 40%;
    height: 100%;
    object-fit: contain;
  }

  .btn-join-event {
    width: 81%;
    letter-spacing: -1px;
    color: var(--color-white);
    background: var(--color-darkOrange);
  }

  /* ==== FEATURED SPEAKERS SECTION ==== */
  .featured-speakers {
    padding: 1.5em 0;
  }

  .speaker-box {
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: start;
    gap: 0.7em;
    margin: 0.5em 0;
  }

  .speaker-img {
    width: 100px;
    height: 140px;
    position: relative;
  }

  .speaker-img::before {
    position: absolute;
    content: '';
    width: 45%;
    height: 45%;
    background: url(../images/background-4.svg) center/cover repeat;
    background-size: 11px;
    top: -13%;
    left: -11%;
    z-index: -1;
  }

  .speaker-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .speaker-infos {
    flex-direction: column;
  }

  .speaker-infos h4 {
    font-size: 1.159rem;
    font-weight: 600;
  }

  .speaker-infos .title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-darkOrange);
  }

  .speaker-infos .separator {
    background: var(--color-dark);
    margin: 0.3em 0 0.6em 0;
  }

  .speaker-infos .description {
    font-size: 1rem;
  }

  .btn-more {
    width: 97%;
    align-items: center;
    gap: 1em;
    text-transform: uppercase;
    color: #000;
    background: var(--color-white);
  }

  .btn-more .downArrow {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--color-darkOrange);
    border-right: 2px solid var(--color-darkOrange);
    transform: rotate(45deg);
    padding: 0.2em;
    margin-top: -0.5em;
  }

  /* ==== PARTNER SECTION ==== */
  .partner-section {
    color: #d3d3d3ba;
    background: var(--color-dark);
    padding-top: 1em;
    display: none;
  }

  .partner-box {
    max-width: max-content;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 1.5em;
    margin: 0 auto;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.45rem;
  }
}

/* ==== Mobile M - 375px ==== */
@media screen and (width >= 375px) {
  .section-container {
    padding: 2em 1em;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .hero-section {
    height: 56vh;
  }

  /* ==== HERO SECTION ==== */
  .hero-section .title {
    font-size: 2rem;
  }

  .hero-event {
    font-size: 1.2rem;
  }

  /* ==== MAIN PROGRAM SECTION ==== */
  .card-box {
    grid-template-columns: repeat(2, 50%);
    gap: 0.5em;
  }

  .card-box p {
    font-size: 1.1rem;
  }

  .card-box h3 {
    font-size: 1.4rem;
  }

  /* ==== FEATURED SPEAKERS SECTION ==== */
  .speaker-box {
    grid-template-columns: 34% 1fr;
    gap: 1.2em;
  }

  .speaker-img {
    width: 110px;
  }

  /* ==== PARTNER SECTION ==== */
  .partner-box {
    font-size: 1.4rem;
    padding: 2em 0;
  }

  .speaker-infos .description {
    font-size: 1.1rem;
  }
}

/* ==== Tablet > 424px ==== */
@media screen and (width > 424px) {
  .hero-section .description {
    font-size: 1.5rem;
  }

  .program-box {
    grid-template-columns: 34% auto;
  }

  .program-box h3 {
    font-size: 1.5rem;
  }

  .program-box p {
    font-size: 1.19rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .btn-join-event {
    letter-spacing: 1px;
  }

  .section-title {
    font-size: 2rem;
  }

  .speaker-img {
    width: 150px;
  }

  .speaker-box {
    grid-template-columns: repeat(2, auto);
  }

  .speaker-infos h4 {
    font-size: 1.5rem;
  }

  .speaker-infos .title {
    font-size: 1.1rem;
  }

  .speaker-infos .separator {
    width: 30px;
  }

  .speaker-infos .description {
    font-size: 1.2rem;
  }

  .partner-box {
    font-size: 1.7rem;
  }
}
